$calibri-font: Calibri, Arial, Helvetica, "Segoe UI", Verdana, Sans-Serif;
$opensans-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$Adobe-font: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$arial-font: Arial, Calibri, Helvetica, "Segoe UI", Verdana, Sans-Serif;
$helvetica-font: Helvetica, "proxima-nova", Arial, sans-serif;

$default: #3b3b3b;
$nav: #656565;
$navBG: #fff; //#5dc560;
$navBG-top:#3f3f3f;
$navBD: #e8e8e8; //#409B42
$borders: #e8e8e8;

$bodyBG: #f4f8f9;

$opensans-semibold: open_sanssemibold; 
$opensans-light: open_sanslight;
$opensans-regular: open_sansregular;
$opensans-bold: open_sansbold;

$active: #fff;
$active-sub: #444;

$main-menu-hover: #f4f8f9;
$headBG: #fff; //#5dc560;

$prime-1: #3f3f3f;
$prime-2: #f2be21;
$prime-3: #725e39;
$prime-4: #9a9a9a;

$color-product-1: #fff;
$color-product-2: #1d1f1e;
$color-product-3: #74242f;
$color-product-4: #dedbd4;
$color-product-5: #68adcc;
$color-product-6: $navBG-top;
$color-product-7: $prime-2;

//@grey-10: lighten(@roster-yellow, 10%);